@import "../../assets/styles/variables";

header {

    padding: 32px 32px 0px 32px;
    background: #F5F4F6;
    .navbar{
        background: #F5F4F6;
        width: 100%;
    }
    .navbar-expand-lg .navbar-collapse {
        justify-content: end;
        align-items: center;
    }
    .navbar-light .navbar-nav .nav-link {
      color: $navlink;
         font-family: 'Roboto-Bold';
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.7px;
        padding: 0px 32px 0px 0px;
        display: flex;
        align-items: center;
    }
  
    .navbar-light .navbar-nav .nav-link:last-child {
     padding-right: 36px;
    }
    .navbar-light .navbar-nav .nav-link {
    .dot{
        width: 6px;
        height: 6px;
        border-radius: 3.5px;
        background: #0015E2;
        display: inline-flex;
        margin-right: 6px;
    }
    }
    .lang-button {
        border-radius: 27.5px;
        background: #F0F0F0;
        height: 39px;
        width: 101px;
        border: none;
    }
    .lang-button {
    .lang-en,
    .lang-slash {
        color: #A9D1D3;
        font-family: 'Roboto-Bold';
        font-size: 15px;
        line-height:15px;
        letter-spacing: 0.75px;
    }
    .lang-jp{
        color: #0015E2;
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0.75px;
    }

    }
    // .navbar-light .navbar-toggler {
    //     color: rgba(0, 0, 0, 0.5);
    //     border-color: none;
    //     background: #302CA9;
    //     height: 48px;
    //     width: 48px;
    //     border-radius: 50%;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }
    .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 10px;
        right: 7px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 10px;
        right: 7px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
      }
      input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
      }
      
      input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
      }
      
      input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
      }
      
      input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
      }
       .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #fff;
      }
      
       .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
      
       .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
      }
      
       .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
      .humbger-bg{
        background-color: #302CA9;
        position:relative;
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
}
.mobile-nav{
    .inquiry-bitton{
        border-radius: 43.5px;
        background: #FF6200;
        box-shadow: 0px 4px 30px 0px rgba(27, 183, 193, 0.20);
        color:#fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        width: 240px;
        height: 50px;
        border: none;

    }
}
@media only screen and (max-width:1250px) and (min-width: 1050px)  {
     header{
        padding: 32px 15px 0px 15px;
        .navbar-light .navbar-nav .nav-link {
            padding: 0px 10px 0px 0px;
        }
        .navbar-light .navbar-brand img{
            max-width: 240px;
        }
        .navbar-light .navbar-nav .nav-link:last-child {
            padding-right: 10px;
        }
     }
     
}

@media only screen and (max-width:991px){
    header{
        .navbar {
            background: #F5F4F6;
            width: 100%;
          
        }
        padding: 16px;
        .navbar-brand img{
            width: 195px;
            height: auto;
        }
        .lang-button{
            display: none;
        }
        .navbar-collapse .navbar-nav{
            padding:80px 0px;
        }
        .navbar-collapse .navbar-nav .nav-link{
            padding: 24px 0px;
            border-bottom: 1px solid #DDDDE4;
        }
        .navbar-collapse .navbar-nav .nav-link:first-child{
            padding: 24px 0px;
            border-top: 1px solid #DDDDE4;
        }

    }
    
}