@import "../../assets/styles/variables";

.hero-section {

  // padding: 24px 77px 0px 80px;
  //  background-image: url(/assets/images/sdh_mv.png);
  //  background-size: cover;
  //  background-position: 9px 526px;
  //  background-repeat: no-repeat;
  .bg-blue {
    background-color: #4e4ae6;
    border-radius: 120px 0px 0px 0px;
  }

  .offshore-title h1 {
    font-family: 'NotoSansJP-Bold';
    color: #0116E0;
    color: #0116e0;
    font-kerning: none;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.66px;
    margin-bottom: 20px;
  }

  .population-title p {
    color: $gray;
    font-kerning: none;
    font-family: 'NotoSansJP-Bold';
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.75px;
  }

  .offshore-development-title p {
    color: $gray;
    font-kerning: none;
    font-family: 'NotoSansJP-Bold';
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 1.2px;
  }

  .offshore-development-desc p {
    color: $dark-blue;
    font-family: 'NotoSansJP-Regular';
    font-size: 18px;
    line-height: 28.8px;
    letter-spacing: 0.9px;
  }

  .section-main-contact-button {
    position: relative;
    z-index: 2;

    .main-contact-btn {
      // width: 300px;
      // height: 65px;
      padding: 24.5px 102px;
      border-radius: 43.5px;
      background: #ff6200;
      box-shadow: 0px 4px 30px 0px rgba(27, 183, 193, 0.2);
      border: none;
      color: #FFF;
      font-family: 'NotoSans-Bold';
      color: #fff;
      font-size: 16px;
      line-height: 16px;
    }
  }

  .companyLogo-Section {
    position: relative;
    z-index: 2;
  }

  .people-image {
    width: 100%;
    position: relative;
    z-index: 2;
    max-width: 508px;
  }

  .arrow-icon {
    margin-left: -52px;
  }

  .hero-section-content {
    padding: 24px 67px 0px 80px;
    background: #f5f4f6;
    margin-bottom: 75px;
  }

  .section-contact-form {
    position: relative;
    z-index: 2;

    .side-contact-form {
      border-radius: 0px 0px 0px 64px;
      background: #0015e2;
      padding: 37px 24px 0px 25px;
      position: fixed;
      right: 0px;
      flex: 0 0 21%;
      max-width: 21%;
    }

    .side-contact-form-header {
      .contct-title p {
        color: #fff;
        text-align: center;
        font-family: 'RobotoCondensed-Regular';
        font-size: 15px;
        line-height: 21px;
        letter-spacing: 1.575px;
        margin: 0px;
      }

      .contct-heading p {
        color: #fff;
        font-family: 'NotoSansJP-Bold';
        font-size: 20px;
        line-height: 28px;
        margin: 12px 0px 24px;
      }

      .contct-desc p {
        color: #fff;
        font-family: 'NotoSansJP-Regular';
        font-size: 13px;
        line-height: 20.8px;
        margin-bottom: 24px;
        text-align: left;
      }
    }

    .contac-submit-button {
      border-radius: 27.5px;
      background: #ff6200;
      box-shadow: 0px 4px 30px 0px rgba(27, 183, 193, 0.2);
      width: 160px;
      height: 36px;
      margin: 0px auto;
      display: block;
      color: #fff;
      // font-family: Roboto;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: 13px;
      letter-spacing: 0.65px;
    }

    .form-control {
      border-radius: 8px;
      border: 1px solid #c0c0c0;
      background: #fff;
      // width: 250px;
      height: 32px;
    }

    .side-contact-label {
      color: #fff;
      font-family: 'NotoSansJP-Medium';
      font-size: 12px;
      line-height: 24px;
      opacity: 0.8999999761581421;
    }

    .contact-text-area {
      height: 80px;
    }

    .contact-announcement-image {
      position: relative;
      right: -25px;
      margin-top: 20px;

      img {
        width: 100%;
      }
    }
  }

  .brand-img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    padding: 10px;
    background-color: #fff;
    object-fit: contain;
  }

  .section-main-contact-form {
    border-radius: 0px 0px 120px 120px;
    background: #4e4ae6;
    padding: 100px 0px 120px 0px;
    position: relative;
    margin-bottom: -160px;
    z-index: 4;

    .contact-form-title h2 {
      color: #fff;
      text-align: center;
      font-family: 'RobotoCondensed-Regular';
      font-size: 20px;
      letter-spacing: 2.1px;
      margin-bottom: 0px;
    }

    .contact-form-heading p {
      color: #fff;
      text-align: center;
      font-family: 'NotoSansJP-Bold';
      font-size: 32px;
      letter-spacing: 3.36px;
      margin: 32px 0px;
    }

    .contact-form-desc p {
      color: #fff;
      text-align: center;
      font-family: 'NotoSansJP-Regular';
      font-size: 15px;
      margin-bottom: 48px;
    }

    .main-contact-label {
      color: #2c2c2c;
      font-family: 'NotoSansJP-Medium';
      font-size: 15px;
      line-height: 20px;
    }

    .main-cntct-inputs {
      height: 40px;
      border-radius: 8px;
      border: 1px solid #dfdfdf;
      background: #fafafa;
    }

    .contact-form-textarea {
      border-radius: 8px;
      border: 1px solid #dfdfdf;
      background: #fafafa;
      height: 120px;
    }

    .main-contact-submit-btn {
      border-radius: 30px;
      background: #ff6200;
      box-shadow: 0px 4px 30px 0px rgba(27, 183, 193, 0.2);
      width: 250px;
      height: 60px;
      color: #fff;
      font-family: 'Roboto-Bold';
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.9px;
      margin: 50px auto 0px auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .main-contact-form {
    padding: 80px;
    border-radius: 48px;
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(24, 131, 138, 0.15);
  }

  .section-questions {
    border-radius: 120px 0px 0px 120px;
    background: #fff;
    padding: 120px 0px 160px;
    position: relative;
    z-index: 1;

    .accordian-card {
      width: 100%;
      // min-width: 952px;
      border-bottom: 1px solid #dddde4;
      border-left: 0px;
      border-top: 0px;
      border-right: 0px;
      background-color: #fff;

      .accordian-card-header {
        border-bottom: 0px;
        background-color: #ffff;
        padding: 24px 0px;

        button {
          padding-left: 0px;
          color: #333;
          font-family: 'NotoSansJP-Medium';
          font-size: 16px;
          line-height: normal;
          letter-spacing: 0.8px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        button:hover {
          text-decoration: none;
        }

        button:focus {
          box-shadow: none;
          text-decoration: none;
        }

        .question {
          background: #4e4ae6;
          width: 30px;
          height: 30px;
          padding: 7px;
          border-radius: 50%;
          display: inline-flex;
          text-align: center;
          margin: 0px auto;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-family: 'Roboto-Bold';
          font-size: 14px;
          line-height: normal;
          letter-spacing: 1.47px;
          margin-right: 16px;
        }

        .card-body {
          padding: 0.5rem 0px 0.5rem 0;
          color: #333;
          font-family: 'NotoSansJP-Regular';
          font-size: 16px;
          line-height: normal;
          letter-spacing: 0.8px;
          display: flex;
        }
      }

      .accordian-card-header [aria-expanded="flase"] .openIcon img {
        display: none;
      }

      .accordian-card-header [aria-expanded="false"] .clsoeIcon img {
        display: none;
      }

      .accordian-card-header [aria-expanded="true"] .openIcon {
        display: none;
      }

      .accordian-card-header [aria-expanded="true"] .clsoeIcon img {
        display: block;
      }

      .answer {
        background: #302ca9;
        width: 30px;
        height: 30px;
        padding: 7px;
        border-radius: 50%;
        display: inline-flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-family: 'Roboto-Bold';
        font-size: 14px;
        line-height: normal;
        letter-spacing: 1.47px;
        margin-right: 16px;
      }

      .card-body {
        padding: 0.5rem 0px 0.5rem 0;
        color: #333;
        font-feature-settings: "palt"on;
        font-family: Noto Sans JP;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.8px;
        display: flex;
      }
    }

    .question-section-title h2 {
      color: #0015e2;
      text-align: center;
      font-family: 'RobotoCondensed-Regular';
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 2.1px;
    }

    .question-section-heading p {
      color: #333;
      text-align: center;
      font-family: 'NotoSansJP-Bold';
      font-size: 32px;
      line-height: 56px;
      letter-spacing: 3.36px;
    }
  }

  .contactCatImagePc {
    position: absolute;
    right: -32px;
    bottom: -90px;
  }

  .contactCatImageSp {
    position: absolute;
    width: 79px;
    height: 112px;
    left: 11px;
    bottom: -5px;
    display: none;
  }

  footer {
    background: #212d3b;
    padding: 200px 0px 200px 0px;
    z-index: 3;
    position: relative;

    .footer-logo {
      display: flex;
      align-items: center;
      column-gap: 26px;
      margin-bottom: 117px;
    }

    .netsologoContent h3 {
      color: #fff;
      font-family: 'Roboto-Bold';
      font-size: 15px;
      line-height: 15px;
      letter-spacing: 0.75px;
    }

    .development-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    .development-title p {
      color: #fff;
      font-family: 'Roboto-Bold';
      font-size: 22px;
      line-height: 22px;
      letter-spacing: 1.1px;
      margin-bottom: 32px;
    }

    .development-sub-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .development-sub-title p {
      color: #fff;
      font-family: 'Roboto-Regular';
      font-size: 11px;
      line-height: 11px;
      letter-spacing: 1.1px;
      opacity: 0.8;
      margin-bottom: 0px;
    }

    .footer-links {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      margin-bottom: 32px;

      .footer-link a {
        color: #fff;
        font-family: 'Roboto-Bold';
        font-size: 15px;
        line-height: 15px;
        letter-spacing: 0.75px;
      }
    }

    .footer-link-dot {
      width: 6px;
      height: 6px;
      border-radius: 3.5px;
      background: #fff;
      display: inline-flex;
      margin-right: 6px;
    }

    .footer-lang-button {

      .lang-button {
        border-radius: 27.5px;
        background: #F0F0F0;
        height: 39px;
        width: 101px;
        border: none;
      }

      .lang-button {

        .lang-en,
        .lang-slash {
          color: #A9D1D3;
          font-family: 'Roboto-Bold';
          font-size: 15px;
          line-height: 15px;
          letter-spacing: 0.75px;
        }

        .lang-jp {
          color: #0015E2;
          font-family: 'Roboto-Bold';
          font-size: 15px;
          line-height: 100%;
          letter-spacing: 0.75px;
        }
      }
    }
  }
}

.section-process {
  padding: 120px 0px;

  .process-step {
    display: flex;
  }

  .section-process-header {
    .section-process-title h2 {
      color: #0015e2;
      text-align: center;
      font-size: 20px;
      letter-spacing: 2.1px;
      font-family: 'RobotoCondensed-Regular';
      margin-bottom: 32px;
    }

    .section-process-heading p {
      font-family: 'NotoSansJP-Bold';
      color: #333;
      text-align: center;
      font-size: 32px;
      letter-spacing: 3.36px;
      margin-bottom: 48px;
    }
  }

  .process-content {
    padding: 56px 110px 71px 56px;
    border-radius: 27.5px;
    background: #fff;
    width: 766px;
    height: auto;
    margin: 0px auto;
    position: relative;

    .line-img {
      display: flex;
      justify-content: center;
      margin: 12px 0px;
    }

    // .process-content-right {
    //   .process-step-content {
    //     margin: 0px 0px 64px 23px;
    //   }
    // }
    .process-content-left {
      .process-step {
        display: flex;

        .step-title {
          width: 15%;
        }

        .step-content {
          width: 85%;
        }
      }

      .step-content-title h4 {
        color: #333;
        font-family: 'NotoSansJP-Bold';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 1px;
      }

      .step-content-desc p {
        color: #414141;
        font-family: 'NotoSansJP-Regular';
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 0px;
      }

      .process-step h5 {
        color: #0015e2;
        font-family: 'Roboto-Medium';
        font-size: 15px;
        letter-spacing: 0.75px;
        text-align: center;
        margin-bottom: 0px;
      }
    }

  }

  .map-image img {
    position: absolute;
    right: -170px;
    bottom: -60px;
  }
}

.sdh-mv {
  background-image: url("/assets/images/sdh_mv.png");
  height: 730px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: 1;
  position: relative;
  margin-top: -320px;

  .sdh-image {
    width: 100%;
  }
}

.problemSection {
  background: linear-gradient(180deg,
      rgba(68, 82, 219, 0) 0%,
      rgba(68, 82, 219, 0.4) 8.61%,
      #4452db 19.45%,
      #4452db 100%);
  width: 100%;
  margin-top: -230px;
  z-index: 1;
  padding-bottom: 100px;

  .aboutSdh {
    max-width: 838px;
    margin: auto;
    margin-bottom: 280px;
    margin-top: -90px;

  }

  .aboutSdh {
    display: flex;
  }

  .aboutSdh-subtext {
    color: #D8DBFF;
    font-size: 20px;
    font-family: 'RobotoCondensed-Regular';
    line-height: 28px;
    letter-spacing: 2.1px;
  }

  .aboutSdh-h2 {
    color: #fff;
    font-family: 'NotoSans-Bold';
    font-size: 36px;
    line-height: 50.4px;
    letter-spacing: 1.8px;
  }

  .aboutSdh-text {
    color: #FFF;
    font-family: 'NotoSansJP-Regular';
    font-size: 15px;
    line-height: 200%;
    /* 30px */
    letter-spacing: 0.45px;
  }

  .aboutSdh-mobileText {
    display: none;
  }

  .fancyListBox {
    width: 66%;
  }

  .problemBox {
    display: flex;
    justify-content: center;
    max-width: 991px;
    margin: 0px auto 100px;
  }

  .down-arrow {
    position: absolute;
    width: 100%;
  }

  .down-arrow a {
    z-index: 4;
    position: relative;
    left: 45%;
    cursor: pointer;
    bottom: -45px;
  }

  .twoPersonImage {
    margin-top: 40px;
    text-align: center;

    img {
      width: 200px;
    }
  }
}

.problemSection {
  .problemNotes {
    background-color: #fff;
    border-radius: 20px;
    width: 100%;
    max-width: 536px;
    height: 77px;
    border-radius: 38.5px;
    display: inline-flex;
    align-items: center;
    padding: 32px 26px;
    color: #081E3A;
    font-family: 'NotoSansJP-Medium';
    font-size: 20px;
    line-height: 40px;
  }

  .problemHeading {
    margin-bottom: 29px;
  }

  .problemSub-text {
    color: #D8DBFF;
    text-align: center;
    font-family: 'RobotoCondensed-Regular';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 2.1px;
  }

  .problemSub-h3 {
    color: #FFF;
    text-align: center;
    font-family: 'NotoSansJP-Bold';
    font-size: 32px;
    line-height: 56px;
    letter-spacing: 3.36px;
  }

  .checkIcon {
    margin-right: 8px;
  }

  .dotImage {
    margin-top: 60px;
  }
}

.solution-section {
  padding: 160px 0px 80px;
  background-color: #eeeff5;
  border-radius: 0px 0px 0px 120px;

  .sdh-container {
    max-width: 991px;
    margin: 0 auto;
    padding: 0px 15px;
  }

  .solution-subtext {
    color: #0015E2;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 2.1px;
    font-family: 'RobotoCondensed-Regular';
  }

  .solution-h2 {
    color: #081E3A;
    text-align: center;
    font-family: 'NotoSansJP-Bold';
    font-size: 32px;
    line-height: 44.8px;
    letter-spacing: 1.6px;
    margin-bottom: 64px;
  }

  .divider {
    width: 64px;
    height: 2px;
    background-color: #0015e2;
    display: block;
  }

  .sdh-h3 {
    margin-top: 0px;
    margin-bottom: 31px;
    font-family: 'NotoSansJP-Bold';
    color: #3b3b3d;
    font-size: 28px;
    line-height: 42px;

  }

  .sdh-p {
    margin-top: 31px;
    margin-bottom: 0px;
    width: 100%;
    max-width: 72%;
    font-size: 13px;
    line-height: 26px;
    font-family: 'NotoSansJP-Regular';
  }

  .sdhImage {
    width: 100%;
  }

  .sdh-right-text {
    padding-left: 35px;
  }

  .second-row {
    margin-top: 100px;
  }

  .third-row {
    margin-top: 100px;
  }

  .sdh-cummination-p {
    padding-right: 50px;
    margin-top: 31px;
    font-size: 13px;
    line-height: 26px;
  }

  .custom-padding {
    padding: 0px;
  }
}

@media only screen and (max-width: 2100px) and (min-width: 1400px) {
  .sdh-mv {
    height: 900px;
    margin-top: -400px;
  }
}

@media only screen and (max-width:1400px) and (min-width: 1050px) {

  .hero-section {
    .hero-section-content {
      padding: 24px 45px 0px 45px;
    }

    .offshore-development-title p {
      font-size: 30px;
    }

    .offshore-development-desc p {
      font-size: 16px;
    }
  }

  .solution-section {
    .custom-padding {
      padding: 0px 10px;
    }
  }
  .section-process {
    .map-image img {
      position: absolute;
      right: -25px;
      bottom: -80px;
      width: 150px;
    }
  }
}

@media only screen and (max-width: 1050px) {
  .side-contact-form {
    display: none;
  }
}
@media only screen and (max-width:1050px) and (min-width: 900px) {
  .section-process {
    .map-image img {
      position: absolute;
      right: -25px;
      bottom: -80px;
      width: 150px;
    }
  }
}

@media only screen and (max-width:900px) and (min-width: 768px) {
  .hero-section {

    .hero-section-content {
      padding: 24px 50px 0px 50px;
    }

    .offshore-development-title p {
      font-size: 28px;
      line-height: 40px;
    }
  }

  .offshore-development-desc p {
    font-size: 16px;
  }
  .section-process {
  .map-image img {
    position: absolute;
    right: 0px;
    bottom: -55px;
    width: 113px;
  }
}
}

@media only screen and (max-width: 767px) {
  .hero-section {
    .offshore-title h1 {
      font-size: 16px;
      margin-bottom: 12px;
      line-height: 24px;
    }

    .population-title p {
      font-size: 18px;
      line-height: 25.2px;
      margin-bottom: 8px;
    }

    .offshore-development-title p {
      font-size: 26px;
      line-height: 36.4px;
      margin-bottom: 24px;
    }

    .offshore-development-desc p {
      font-size: 13px;
      line-height: 20.8px;
      margin-bottom: 40px;
    }

    .section-main-contact-button .main-contact-btn {
      padding: 17px 72px;
    }

    .arrow-icon {
      display: none;
    }

    .hero-section-content {
      padding: 44px 16px;
    }

    .companyLogo-Section {
      display: none;
    }

    .hero-section-content {
      .people-image {
        height: 334px;
        object-fit: contain;
      }
    }

    .problemSection {
      background: linear-gradient(180deg,
          rgba(68, 82, 219, 0) 0%,
          rgba(68, 82, 219, 0.4) 6.02%,
          #4452db 15.05%,
          #4452db 100%);

      margin-top: -400px;

      .aboutSdh {
        flex-direction: row-reverse;
        margin-top: 340px;

        .aboutSdh-mobileText {
          color: #fff;
          display: block;
        }

        .twoPersonImage img {
          margin: auto;
          display: flex;
        }
      }

      .dancing-img {
        width: 20%;
        position: absolute;

        img {
          width: 79px;
        }
      }

      .aboutSdh-h2 {
        font-size: 22px;
      }

      .problemBox {
        flex-direction: column;
      }

      .fancyListBox {
        width: 100%;
      }

      .down-arrow img {
        display: none;
      }

      // .problemNotes {
      //   color: #081E3A;
      //   font-family: 'NotoSansJP-Medium';
      //   font-size: 20px;
      //   line-height: 40px;
      // }
      .problemSub-h3 {
        font-size: 22px;
      }

      .aboutSdh {
        margin-bottom: 100px;
      }
    }

    .solution-section {
      padding: 100px 0px;
      border-radius: 0px 0px 0px 64px;

      .solution-h2 {
        font-size: 22px;
        margin-bottom: 48px;
      }

      .sdh-h3 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
      }

      .sdh-cummination-p {
        margin-bottom: 40px;
      }
    }

    .sdh-mv {
      height: 290px;
      margin-top: -360px;
      background-image: url("/assets/images/sdh_mv_mobile.png");
      background-size: cover;
    }

    .main-contact-form {
      padding: 0px;
      background: transparent;

      .main-contact-label {
        color: #fff;
      }
    }

    .section-main-contact-form {
      border-radius: 0px 0px 64px 64px;
      background: #4e4ae6;
      position: relative;
    }

    .contactCatImagePc {
      display: none;
    }

    .contactCatImageSp {
      display: block;
    }

    footer {

      .development-title p,
      .footer-links {
        margin-bottom: 48px;
      }

      .footer-links {
        column-gap: 32px;
        row-gap: 16px;
      }
    }

    .section-process {
      padding: 120px 16px;

      .process-content {
        width: 100%;
        padding: 32px 20px 80px 20px;

        .process-step {
          .step-title {
            margin-right: 19px;
          }
        }
      }

      .process-content-right {
        .process-step-content {
          margin: 0px 0px 56px 19px;

          .step-content-title h4 {
            font-size: 15px;
            line-height: 21px;
          }
        }
      }

      .process-content-left {
        .step-content-title h4 {
          font-size: 15px;
          line-height: 21px;
          letter-spacing: 0.75px;
        }

        .step-content-desc p {
          font-size: 13px;
          line-height: 22.75px;
        }
      }

      .map-image img {
        width: 91px;
        right: 16px;
        bottom: -40px;
      }
    }
  }

  .solution-section {
    .sdh-left-text {
      margin-bottom: 30px;
    }

    .second-row {
      flex-direction: column-reverse;
      margin-top: 64px;
    }

    .third-row {
      margin-top: 48px;
    }

    .sdh-right-text {
      padding-left: 0px;
      margin-bottom: 52px;
    }

    .sdh-p {
      max-width: 100%;
      margin-bottom: 52px;
    }

    .custom-padding {
      padding: 0px 15px;
    }
  }
}

@media only screen and (max-width: 475px) {
  .hero-section {
    .sdh-mv {
      height: 290px;
      margin-top: -360px;
    }
  }
}