// $dark-grey: rgba(53, 62, 71, 1);
// $medium-grey: rgba(101, 119, 134, 1);
// $light-blue: rgba(7, 179, 227, 1);
// $dark-blue: rgba(0, 138, 176, 1);
// $white: rgba(244, 253, 255, 1);
// $light-grey: rgba(244, 244, 244, 1);
// $green: rgba(0, 185, 0, 1);
// $pink: rgba(249, 95, 130, 1);
// $golden: rgba(176, 136, 50, 1);
$navlink: #293830;
$gray: #333;
$dark-blue: #081E3A;

// ********** FONT FAMILY *********** //
@font-face {
    font-family: 'NotoSans-Bold';
    src: url('/assets/fonts/Noto_Sans/NotoSans-Bold.ttf') format('truetype');
    font-weight: 700;
}